<div class="container mt-5">
  <h2>Register</h2>

  <%# バリデーションエラーが発生した場合のメッセージをここに表示%>
  <div class="errors">
    <% if(typeof errors !== 'undefined') { %>
      <ul>
          <% for (let n in errors) { %>
          <li>
              <%= errors[n].msg %>
          </li>
          <% } %>
      </ul>
    <% } %>
  </div>

  <form method="POST">
    <div class="mb-3">
      <label class="form-label">Name</label>
      <input type="text" class="form-control" name="name" 
      value="<%= (typeof name !== 'undefined') ? name : '' %>" />
    </div>
    <div class="mb-3">
      <label class="form-label">E-Mail Address</label>
      <input type="email" class="form-control" name="email" 
      value="<%= (typeof email !== 'undefined') ? email : '' %>" />
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="password" class="form-control" name="password" 
      value="<%= (typeof password !== 'undefined') ? password : '' %>" />
    </div>
    <div class="mb-3">
      <label class="form-label">Confirm Password</label>
      <input type="password" class="form-control" name="confirmPassword" 
      value="<%= (typeof confirmPassword !== 'undefined') ? confirmPassword : '' %>" />
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
</div>
